<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Calango's Tags</h1>
    </header>
    
    <main>

        <nav>
        <a href="#">Login</a>
        <a href="#">Cadastro</a>
        </nav>

        <div class="titulo-form">
            <h2>Entrar</h2>
        </div>

        <div class="formulario">

            <form action="#" method="post" autocomplete="on"></form>
    
            <p>
                <label for="i_email">Email: </label>
                <input class="dados" type="email" name="mail" id="i_email" required autocomplete="email">
            </p>

            <br>

            <p>
                <label for="i_senha">Senha: </label>
                <input class="dados" type="password" name="senha" id="i_senha" required minlength="8" placeholder="Mín. 8 caracteres">
            </p>
            

            <br>

            <p>
                <input class="botao" type="submit" value="Entrar">
            </p>
            


            <!-- colocar verificação robo -->

        </div>
    </main>
</body>
</html>