<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='calangoIMG/fav_calango.png') }}" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <!-- Título/Cabeçalho -->
    <header>
        <h1>Calango's Tags</h1>
    </header>


    <main>
        <!-- Navegação entre Login e Cadastro -->
        <nav>
            <a id="log" href="#">Login</a>
            <a id="cad" href=" {{ url_for('cadastrar') }} ">Cadastrar</a>
        </nav>
    
        <div id="formulario">

            <div class="titulo-form">
                <h2>Bem-vindo Calango!</h2>
            </div>

            <!-- Formulário Login -->
            <form action="" method="post">
                <!-- token de segurança -->
                {{ formPy.csrf_token }}

                <!-- email -->
                <div class="formu" >
                    {{ formPy.email.label(id="label") }}
                    <br>
                    {{ formPy.email(id="dados") }}
                </div>

                <!-- senha -->
                <div class="formu" >
                    {{ formPy.senha.label(id="label") }}
                    <br>
                    {{ formPy.senha(id="dados") }}
                </div>

                <!-- botao submit -->
                <div class="formu">
                    {{ formPy.botao_submit(id="botao") }}
                </div>
    
            </form>
        </div>
    </main>

    <footer>
        <div>
            <p>copyright - <a href="https://github.com/NicoArth-17" target="_blank">Nicolas Arthur</a></p>
        </div>
    </footer>

</body>
</html>