<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <title>Perfil</title>
</head>
<body>
    <!-- Barra de navegação -->
    <nav>
        <div>
            <a href="{{ url_for('page_perfil', usuarioX=current_user.user_name) }}">Perfil</a>
            <a href="{{ url_for('timeline') }}">Feed</a>
            <a href="{{ url_for('sair') }}">Sair</a> <!-- Link de logout -->
        </div>
    </nav>

    <main>
        <!-- Mensagem do perfil -->
        <h1>Hello world!</h1>
        
        <div>
            <!-- Se existir formulário, pois a função estará disponível apenas para a página do próprio perfil e não visitando a página de perfil de outro usuário -->
            {% if formPy %}

                <!-- Formulário para postar imagem -->
                <form method="post" enctype="multipart/form-data">
                    {{ formPy.csrf_token }}

                    <label for="selecionar_arquivo" id="inserir_post" class="form_post">
                        Publicar Arte
                        {{ formPy.imagem(id="selecionar_arquivo") }}
                    </label>

                    <span id="imagem-arquivo"></span>
                    
                    {{ formPy.botao_submit(id="enviar_arquivo", class="form_post") }}
                    
                </form>

            {% endif %}
        </div>
    </main>
    
    
    <div class="container">

        <div class="painel_fotos">

            <!-- Loop para mostrar os posts no perfil -->
            {% for post in usuario.posts %}
            
                <div class="foto">
                    <img src="{{ url_for('static', filename='img_posts/{}'.format(post.imagem)) }}">
                </div>

            {% endfor %}    
        </div>

    </div>

    <script>
        let input = document.getElementById("selecionar_arquivo");
        let imagemArquivo = document.getElementById("imagem-arquivo");
  
        input.addEventListener("change", () => {
          let inputImagem = document.querySelector("input[type=file]").files[0];
  
          imagemArquivo.classList.add("visivel");
          imagemArquivo.innerText = inputImagem.name;
        });
    </script>
    
</body>
</html>