<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <!-- Barra de navegação -->
    <nav>
        <a href="{{ url_for('page_perfil', usuarioX=current_user.user_name) }}">Perfil</a>
        <a href="{{ url_for('timeline') }}">Feed</a>
        <a href="{{ url_for('sair') }}">Sair</a> <!-- Link de logout -->
    </nav>

    <!-- Título/Nome do usuário -->
    <h1>{{ usuario.user_name }}</h1>

    <!-- Formulário para postar imagem -->
    <!-- Se existir formulário, pois a função estará disponível apenas para a página do próprio perfil e não visitando a página de perfil de outro usuário -->
    {% if formPy %}

        <form method="post" enctype="multipart/form-data">
            {{ formPy.csrf_token }}

            {{ formPy.imagem }}

            {{ formPy.botao_submit }}

        </form>

    {% endif %}

    <!-- Loop para mostrar os posts no perfil -->
    {% for post in usuario.posts %}

        <img src="{{ url_for('static', filename='img_posts/{}'.format(post.imagem)) }}">

    {% endfor %}
</body>
</html>