@charset "UTF-8";

@font-face {
    font-family: 'marhey';
    src: url('../fonte/Marhey-SemiBold.ttf');
}

@font-face {
    font-family: 'dancing';
    src: url('../fonte/DancingScript-Medium.ttf');
}

@font-face {
    font-family: 'jost';
    src: url('../fonte/Jost-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font_titulo: 'dancing', 'marhey', 'jost', 'Courier New', Courier, monospace;
    --font_secundaria: 'marhey', 'jost', 'Courier New', Courier, monospace;
    --font_formal: 'jost', 'Courier New', Courier, monospace;

    --cor_calango: rgb(145, 255, 0); 
}

body
{
    background-color: rgba(46, 44, 44, 0.836);
    background-image: url(../calangoIMG/calangoLogin-640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flexbox;
}

header
{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

header > h1 
{
    text-shadow: 1px 1px 3px var(--cor_calango);
    font-size: 70px;
    color: black;
    font-family: var(--font_titulo);
    word-spacing: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    padding: 10px;
}

main
{
    display: block;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    text-align: center;
    height: 550px;
    width: 350px;
    background-color: rgba(129, 129, 129, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

main > nav
{
    width: 350px;
    margin: 0px 0px;
    font-size: 25px;
    display: inline-flex;
    font-family: var(--font_formal);
}

main > nav > a
{
    width: 50%;
    padding: 10px;
    text-decoration: none;
    color: white;
}

main > nav > a#log
{
    
    background-color: rgba(0, 0, 0, 0.150);
    border-bottom: 2px solid rgba(0, 0, 0, 0.200);
    border-left: 2px solid rgba(0, 0, 0, 0.200);
}

main > nav > a#cad
{
    text-shadow: 1px 1px 3px var(--cor_calango);
    
}

main > nav > a#log:hover
{
    text-shadow: 1px 1px 3px var(--cor_calango);
}

main > div > div.titulo-form
{
    margin-top: 20px;
    font-family: var(--font_secundaria);
    word-spacing: 5px;
}

main > div > form > div.formu
{
    font-family: var(--font_secundaria);
    margin: 20px 0px;
}

main > div > form > div.formu > p
{
    font-family: var(--font_formal);
    color: red;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
    text-align: left;
    margin: 0px 20px;
}

main > div > form > div > #label
{
    margin-left: -70%;
}

main > div > form > div > #label2
{
    margin-left: -50%;
}

main > div > form > div > #dados
{
    background-color: rgba(26, 26, 26, 0.500);
    border-radius: 15px;
    border: 2px solid whitesmoke;
    width: 300px;
    height: 30px;
    box-shadow: 2px 2px 3px black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

main > div > form > div > #botao
{
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    border: 2px solid whitesmoke;
    width: 120px;
    height: 35px;
    cursor: pointer;
    color: white;
    font-family: var(--font_secundaria);
    text-shadow: 1px 1px 3px black;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 3px black;
}

main > div > form > div > #botao:hover
{
    border-color: black;
    color: var(--cor_calango);
    box-shadow: 1px 1px 3px var(--cor_calango);
}

footer
{
    font-family: var(--font_formal);
    height: 70px;
    text-align: center;
}

footer > div
{
    width: 100%;
    height: 100%;
    position: relative;
}

footer > div > p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: whitesmoke;
    width: 250px;
    padding: 5px 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.700);
}

footer > div > p > a
{
    text-decoration: none;
    color: whitesmoke;
}

footer > div > p > a:hover
{
    color: var(--cor_calango);
}

@media screen and (min-width: 640px) and (max-width: 768px){
    body
    {
        background-image: url(../calangoIMG/calangoLogin-768.jpg);
    }

    header
    {
        margin-top: 80px;
        margin-bottom: 100px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px){

    body
    {
        background-image: url(../calangoIMG/calangoLogin-992.jpg);
    }

    header
    {
        margin-top: 90px;
        margin-bottom: 100px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px){

    body
    {
        background-image: url(../calangoIMG/calangoLogin-992.jpg);
    }

    header
    {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    header > h1
    {
        font-size: 85px;
        width: 600px;
    }

}

@media screen and (min-width: 1200px){

    body{
        background-image: url(../calangoIMG/calangoLogin-1200.jpg);
    }

    header
    {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    header > h1
    {
        font-size: 100px;
        width: 700px;
        margin: 0px auto;
    }
}