@charset "UTEF-8";

@font-face {
    font-family: 'marhey';
    src: url('../fonte/Marhey-SemiBold.ttf');
}

@font-face {
    font-family: 'dancing';
    src: url('../fonte/DancingScript-Medium.ttf');
}

@font-face {
    font-family: 'jost';
    src: url('../fonte/Jost-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font_titulo: 'dancing';
    --font_secundaria: 'marhey';
    --font_formal: 'jost', 'Courier New', Courier, monospace;

    --cor_calango: rgb(145, 255, 0); 
}

body
{
    background-color: rgba(46, 44, 44, 0.836);
    background-image: url(../calangoIMG/calangoLogin-600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header
{
    display: block;
    text-align: center;
}

header > h1 
{
    text-shadow: 1px 1px 3px var(--cor_calango);
    font-size: 70px;
    color: black;
    font-family: var(--font_titulo);
    word-spacing: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    padding: 10px;
}

main
{
    display: block;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    text-align: center;
    height: 370px;
    width: 350px;
    background-color: rgba(129, 129, 129, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

main > nav
{
    width: 350px;
    margin: 0px 0px;
    font-size: 25px;
    display: inline-flex;
    font-family: var(--font_formal);
}

main > nav > a
{
    width: 50%;
    padding: 10px;
    text-decoration: none;
    color: white;
}

main > nav > a#log
{
    text-shadow: 1px 1px 3px var(--cor_calango);
}

main > nav > a#cad
{
    background-color: rgba(0, 0, 0, 0.150);
    border-bottom: 2px solid rgba(0, 0, 0, 0.200);
    border-left: 2px solid rgba(0, 0, 0, 0.200);
}

main > nav > a#cad:hover
{
    text-shadow: 1px 1px 3px var(--cor_calango);
}

main > div > div.titulo-form
{
    margin-top: 20px;
    font-family: var(--font_secundaria);
    word-spacing: 5px;
}

div.formu
{
    font-family: var(--font_secundaria);
    margin: 20px 0px;
}

main > div > form > div > #label
{
    margin-left: -70%;
}

main > div > form > div > #dados
{
    background-color: rgba(26, 26, 26, 0.500);
    border-radius: 15px;
    border: 2px solid whitesmoke;
    width: 300px;
    height: 30px;
    box-shadow: 2px 2px 3px black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

main > div > form > div > #botao
{
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    border: 2px solid whitesmoke;
    width: 120px;
    height: 35px;
    cursor: pointer;
    color: white;
    font-family: var(--font_secundaria);
    text-shadow: 1px 1px 3px black;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 3px black;
}

main > div > form > div > #botao:hover
{
    border-color: black;
    color: var(--cor_calango);
    box-shadow: 1px 1px 3px var(--cor_calango);
}

@media (min-width: 768) and (max-width: 991){

    body
    {
        background-image: url(../calangoIMG/calangoLogin-768.jpg);
    }
}

@media (min-width: 992) and (max-width: 1200){

    body
    {
        background-image: url(../calangoIMG/calangoLogin-768.jpg);
    }
}

@media (min-width: 1201){

    body{
        background-image: url(../calangoIMG/WhatsApp\ Image\ 2024-01-06\ at\ 13.20.03.jpeg);
    }
}